<!--
<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
-->


<ion-content padding>
	<div *ngFor="let solome of solomes"  >
		<ion-card >
			<ion-item >
				<ion-avatar item-start>
					<img src="{{solome.friend[0].picture_url}}">
				</ion-avatar>
				<h2>{{solome.friend[0].name}}님의 친구</h2>
				<p>
					<label *ngFor="let tag of solome.tags">#{{tag}}</label>
				</p>
				<button ion-button clear item-end></button>
			</ion-item>
			<img src="{{solome.picture_url}}"/>
			<ion-card-content>
				<ion-card-title>
					{{solome.name}} 님
				</ion-card-title>	
				<p>{{solome.description}}</p>
			</ion-card-content>			
			<ion-row>
			<ion-col col-6>
				<button ion-button icon-left outline>
					<ion-icon name="thumbs-up"></ion-icon>
					interesting
				</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button icon-left outline color="danger">
					<ion-icon name="thumbs-down"></ion-icon>
					No thanks
				</button>
			</ion-col>
			</ion-row>
		</ion-card>
	</div>
</ion-content>
